<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/main.css">

<body class="d-flex flex-column h-100">

  <header class="container-fluid ">
    <div class=" row bg-primary">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div id = "navMenu" class="navbar justify-content-start font-weight-bold">
          <a class="nav-item nav-link active pl-0" href="#">Каталог</a>
          <a class="nav-item nav-link pl-0" href="#">Доставка</a>
          <a class="nav-item nav-link pl-0" href="#">Гарантии</a>
          <a class="nav-item nav-link pl-0" href="#">Контакты</a>
        </div>
      </div>
    </div>
  </header>

  <main class=" container-fluid d-flex">
    <div class="row">
      <div class="content p-4 col-md-8 offset-md-2 col-sm-10 offset-sm-1 ">
        <div class="card-deck pt-3">
          <% for (let i = 0; i < products.length; i++) { %>
            <% let product = products[i]; %>
            <div class="card">
              <!--<a href="/static/product.html">-->
              <a href="/product/<%=product.key%>-<%=product.slug%>">
              <img class="card-img-top" src="/static/<%=product.img%>">
              </a>
              <div class="card-body">
                <h5 class="card-title"><%=product.title%></h5>
                <p class="card-text"><%=product.description%></p>
                <p>Цена: <b><%=product.price%> руб.</b></p>
                <a href="#" class="btn btn-primary font-weight-bold">Заказать</a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </main>

  <footer class="container-fluid bg-dark text-white py-3 pl-0">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <h7 class="font-weight-bold">&#169; Codery.camp, 2019</h7>
      </div>
    </div>
  </footer>

</body>
